.B1{
  display:block;
  background-color:red;
  height: 200px;
  width: 200px;
  position:absolute;
  left:210px;
}
.B2{
  display:block;
  background-color:blue;
  height: 200px;
  width: 200px;
  position:absolute;
  left:415px;
}
.B3{
  display:block;
  background-color:green;
  height: 200px;
  width: 200px;
  position:relative;
}
.tab { margin-left: 10px; }
